@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
</div>
<div class="content-body">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>صفحه اصلی</h1>
            </div>
        </div>
    </div>
</div>