@model ForgotPasswordModel

@{
    ViewData["Title"] = "فراموشی کلمه عبور";
    Layout = "/Views/Shared/_LoginRegisterLayout.cshtml";
}

<section class="row flexbox-container">
    <div class="col-xl-7 col-md-9 col-10  px-0">
        <div class="card bg-authentication mb-0">
            <div class="row m-0">
                <!-- left section-forgot password -->
                <div class="col-md-6 col-12 px-0">
                    <div class="card disable-rounded-right mb-0 p-2">
                        <div class="card-header pb-1">
                            <div class="card-title">
                                <h4 class="text-center mb-2">رمز عبورتان را فراموش کرده اید؟</h4>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-2">
                            <div class="text-left">
                                <div class="ml-3 ml-md-2 mr-1"><a asp-controller="Account" asp-action="Login" class="card-link btn btn-outline-primary text-nowrap">ورود</a></div>
                            </div>
                            <div class="mr-3"><a asp-controller="Account" asp-action="Register" class="card-link btn btn-outline-primary text-nowrap">ثبت نام</a></div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="text-muted text-center mb-2"><small class="line-height-2">ایمیلی که برای ثبت نام استفاده کرده اید را وارد کنید تا نحوه تغییر رمزعبور برای شما ارسال شود</small></div>
                                <form class="mb-2" id="frmForgotPassword">
                                    <div class="form-group mb-2">
                                        <label class="text-bold-700" asp-for="Email"></label>
                                        <input type="text" asp-for="Email" class="form-control text-left" id="Email" placeholder="آدرس ایمیل" dir="ltr">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <button id="btnForgotPassword" type="submit" class="btn btn-primary glow position-relative w-100">ارسال رمز عبور<i id="icon-arrow" class="bx bx-left-arrow-alt"></i></button>
                                </form>
                                <div class="text-center mb-2"><a asp-controller="Account" asp-action="Login"><small class="text-muted">رمز عبورم را به خاطر آوردم</small></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right section image -->
                <div class="col-md-6 d-md-block d-none text-center align-self-center">
                    <img class="img-fluid" src="/assets/images/pages/forgot-password.png" alt="branding logo" width="300">
                </div>
            </div>
        </div>
    </div>
</section>