/*buttom*/

.margin-b-s{
    margin-bottom: 5px;
}

.margin-b-l{
    margin-bottom: 10px;
}

.margin-b-xl{
    margin-bottom: 15px;
}

.margin-b-xxl{
    margin-bottom: 20px;
}

.margin-b-xxxl{
    margin-bottom: 30px;
}

.margin-b-xil{
    margin-bottom: 40px;
}

.margin-b-xvl{
    margin-bottom: 50px;
}

.margin-b-xvil{
    margin-bottom: 60px;
}

.margin-b-xxx{
    margin-bottom: 100px;
}

/*right*/

.margin-r-s{
    margin-right: 5px;
}

.margin-r-l{
    margin-right: 10px;
}

.margin-r-xl{
    margin-right: 15px;
}

.margin-r-xxl{
    margin-right: 20px;
}

.margin-r-xxxl{
    margin-right: 30px;
}

.margin-r-xil{
    margin-right: 40px;
}

.margin-r-xvl{
    margin-right: 50px;
}

.margin-r-xvil{
    margin-right: 60px;
}

.margin-r-xxx{
    margin-right: 100px;
}

/*left*/

.margin-l-s{
    margin-left: 5px;
}

.margin-l-l{
    margin-left: 10px;
}

.margin-l-xl{
    margin-left: 15px;
}

.margin-l-xxl{
    margin-left: 20px;
}

.margin-l-xxxl{
    margin-left: 30px;
}

.margin-l-xil{
    margin-left: 40px;
}

.margin-l-xvl{
    margin-left: 50px;
}

.margin-l-xvil{
    margin-left: 60px;
}

.margin-l-xxx{
    margin-left: 100px;
}

/*top*/

.margin-t-s{
    margin-top: 5px;
}

.margin-t-l{
    margin-top: 10px;
}

.margin-t-xl{
    margin-top: 15px;
}

.margin-t-xxl{
    margin-top: 20px;
}

.margin-t-xxxl{
    margin-top: 30px;
}

.margin-t-xil{
    margin-top: 40px;
}

.margin-t-xvl{
    margin-top: 50px;
}

.margin-t-xvil{
    margin-top: 60px;
}

.margin-t-xxx{
    margin-top: 100px;
}